/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
    height: 100px;
    width: auto;
}
#logo {
    margin-top: 1rem;  
    margin-left: 1rem;
    height: 60px;
    vertical-align: bottom;  
}

.nome-brand {
    line-height: 60px;
    font-size: 2.5rem;
    font-weight: 900;
    display: inline-block;

}

main { 
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin:auto;
    background-color: rgba(211, 211, 211, 0.426);

}

.centrale {

    height: 800px;
    width: 900px;
    margin: auto;
    background-color:white;
    border-radius: 1%;
    padding-top: 0.3rem;
}

.blue {
    width: 80px;
    height: 30px;
    background-color: rgba(75, 117, 232, 0.75);
    color: white;
    border-radius: 10%;
    margin: 1%;
    margin-left: 3rem;
    border: none;
}

.gray {
    width: 100px;
    height: 30px;
    background-color:white ;
    color: grey;
    border-radius: 10%;
    border: solid 1px gray
}

hr {
    background-color: rgba(211, 211, 211, 0.426);
    height: 1px;
    border: none;
}

ul {
    list-style-type: none;
  }

.new-task {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}   

.task {
    margin-bottom: 0.5rem;
}

.freccia {
    font-size: 12px;
    vertical-align: middle;
}

.simboli {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    text-align: center;


}

.spunta-verde {
    border: 2px solid green;
    color: green;
}

.x-rossa {
    border: 2px solid red;
    color: red;
}
  

.tags {
    color: white;
    border-radius: 1rem;
    display:inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0.5rem;
}

.editorial {
    background-color: rgba(75, 117, 232, 0.75);

}

.goals {

    background-color: purple;
}

.recruiting {
    background-color: rgb(82, 230, 82);
}

.mobile {
    background-color: orange;
}

.alex {
    width: 80px;
    height: 40px;
    line-height: 45px;
}

.website {
    background-color: lightpink;
}

.sales {
    background-color: green;
}